<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TechSnap</title>

  <!-- External CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
  <link rel="stylesheet" href="/static/css/style.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/css/main.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
</head>

<body>

  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg">
    <div class="container">
      <a class="navbar-brand navbar-logo">
        <img src="/static/css/Logo.png" alt="logo" class="logo-1">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="fas fa-bars"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="#home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#team">Team</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- End Navbar -->

  <!-- Banner Start -->
  <section id="home" class="banner">
    <div class="banner-overlay">
      <div class="container">
        <div class="row">
          <!-- Banner Content -->
          <div class="col-md-8 col-sm-12">
            <div class="banner-text">
              <h2 class="white">Simplifying Tech Recognition</h2>
              <p class="banner-text white">
                TechSnap is the ultimate solution for effortless and accurate
                computer hardware recognition. Say goodbye to time-consuming
                manual checks and guesswork when identifying components. With
                TechSnap, you can quickly and confidently pinpoint your
                hardware, making informed decisions, troubleshooting issues,
                and upgrading your system with ease. We're here to simplify
                your tech world and provide the information you need at your
                fingertips.
              </p>
            </div>
          </div>
          <!-- File Upload & Image Preview -->
          <div class="col-md-4 col-sm-12">
            <h2>File Upload & Image Preview</h2>
            <form id="file-upload-form" class="uploader" form action="/detect" method="POST" onsubmit="saveImageToLocalStorage()" enctype="multipart/form-data">
              <!-- Upload Input -->
              <input id="file-upload" type="file" name="fileUpload" accept="image/*" onchange="handleImageUpload(this)">
              <label for="file-upload" id="file-drag">
                <img id="file-image" src="#" alt="Preview" class="hidden">
                <div id="start">
                  <i class="fa fa-download" aria-hidden="true"></i>
                  <div>Select a file or drag here</div>
                  <div id="notimage" class="hidden">Please select an image</div>
                  <span id="file-upload-btn" class="btn btn-primary">Select a file</span>
                </div>
                <div id="response" class="hidden">
                  <div id="messages"></div>
                  <progress class="progress" id="file-progress" value="0">
                    <span>0</span>%
                  </progress>
                </div>
              </label>
              <button id="next-page-btn" class="btn btn-primary" style="display: none;">Go to Next Page</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <span class="svg-wave">
      <img class="svg-hero" src="/static/css/Applight-Wave.svg">
    </span>
  </section>
  <!-- Banner End -->

  <!-- About Start -->
  <section id="about" class="about section-padding prelative">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <!-- About Header -->
          <div class="sectioner-header text-center">
            <h3>About</h3>
            <span class="line"></span>
            <p>
              TechSnap is here to revolutionize and offer a more efficient and
              precise solution for hardware recognition. Our innovative
              technology eliminates the guesswork and streamlines the
              identification of computer components, making it easier for
              users to make informed decisions, troubleshoot issues, and
              upgrade their systems with confidence. We're dedicated to
              simplifying the world of computer hardware, saving you time and
              hassle while ensuring you have the information you need at your
              fingertips.
            </p>
          </div>
          <!-- About Content -->
          <div class="section-content text-center">
            <div class="row">
              <!-- Feature Box 1 -->
              <div class="col-md-4">
                <div class="icon-box wow fadeInUp" data-wow-delay="0.2s">
                  <i class="fa fa-life-ring" aria-hidden="true"></i>
                  <h5>Flexible</h5>
                  <p>
                    TechSnap is flexible because it adapts to the
                    ever-evolving world of technology with ease. Its adaptable
                    format and content make it a valuable resource for staying
                    current in the fast-paced tech landscape.
                  </p>
                </div>
              </div>
              <!-- Feature Box 2 -->
              <div class="col-md-4">
                <div class="icon-box wow fadeInUp" data-wow-delay="0.4s">
                  <i class="fa fa-mobile" aria-hidden="true"></i>
                  <h5>Cross Platform</h5>
                  <p>
                    TechSnap is cross-platform, making it accessible to users
                    on various devices and operating systems. Whether you're
                    using a Windows PC, a Mac, a Linux machine, or even a
                    mobile device, you can easily access and enjoy TechSnap.
                  </p>
                </div>
              </div>
              <!-- Feature Box 3 -->
              <div class="col-md-4">
                <div class="icon-box wow fadeInUp" data-wow-delay="0.6s">
                  <i class="fa fa-bolt" aria-hidden="true"></i>
                  <h5>Reliable</h5>
                  <p>
                    TechSnap is reliable because it consistently delivers
                    trustworthy and up-to-date information in the
                    ever-changing world of technology. With a team of
                    knowledgeable experts and a commitment to accurate
                    reporting.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- About End -->

  <!-- Team Start -->
  <section id="team" class="team section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <!-- Team Header -->
          <div class="sectioner-header text-center">
            <h3>Our Team</h3>
            <span class="line"></span>
          </div>
          <!-- Team Content -->
          <div class="section-content text-center">
            <div class="row">
              <!-- Team Member 1 -->
              <div class="col-md-4">
                <div class="team-detail wow bounce" data-wow-delay="0.2s">
                  <img src="/static/css/User1.jpg" class="img-fluid" alt="Team Member 1">
                  <h4>Jeshuel Jersey Sosa</h4>
                  <p>Web Developer</p>
                </div>
              </div>
              <!-- Team Member 2 -->
              <div class="col-md-4">
                <div class="team-detail wow bounce" data-wow-delay="0.4s">
                  <img src="/static/css/User2.jpg" class="img-fluid" alt="Team Member 2">
                  <h4>Matt Jerson Figueroa</h4>
                  <p>Web Developer</p>
                </div>
              </div>
              <!-- Team Member 3 -->
              <div class="col-md-4">
                <div class="team-detail wow bounce" data-wow-delay="0.6s">
                  <img src="/static/css/User3.jpg" class="img-fluid" alt="Team Member 3">
                  <h4>Ralph Angelo Togle</h4>
                  <p>Web Developer</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Team End -->

  <!-- Contact Start -->
  <section id="contact" class="contact section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <!-- Contact Header -->
          <div class="sectioner-header text-center">
            <h3>Contact us</h3>
            <span class="line"></span>
          </div>
          <!-- Contact Content -->
          <div class="section-content">
            <div class="row">
              <!-- Contact Form -->
              <div class="col-sm-12 col-md-12 col-lg-8">
                <form id="contact_form" action="">
                  <div class="row">
                    <div class="col">
                      <input type="text" id="your_name" class="form-input w-100" name="full-name" placeholder="Full Name" required>
                    </div>
                    <div class="col">
                      <input type="email" id="email" class="form-input w-100" name="email" placeholder="Email" required>
                    </div>
                  </div>
                  <input type="text" id="subject" class="form-input w-100" name="subject" placeholder="Subject">
                  <textarea class="form-input w-100" id="message" placeholder="Message" name="message"></textarea>
                  <button class="btn-grad w-100 text-uppercase" type="submit" name="button">Submit</button>
                </form>
              </div>
              <!-- Contact Information -->
              <div class="col-sm-12 col-md-12 col-lg-4">
                <div class="contact-info white">
                  <!-- Address -->
                  <div class="contact-item media">
                    <i class="fa fa-map-marker-alt media-left media-right-margin"></i>
                    <div class="media-body">
                      <p class="text-uppercase">Address</p>
                      <p class="text-uppercase">DBB-B, 4115 West Ave, Dasmariñas, Cavite</p>
                    </div>
                  </div>
                  <!-- Phone -->
                  <div class="contact-item media">
                    <i class="fa fa-mobile media-left media-right-margin"></i>
                    <div class="media-body">
                      <p class="text-uppercase">Phone</p>
                      <p class="text-uppercase">
                        <a class="text-white" href="tel:09611831986">09611831986</a>
                      </p>
                    </div>
                  </div>
                  <!-- Email -->
                  <div class="contact-item media">
                    <i class="fa fa-envelope media-left media-right-margin"></i>
                    <div class="media-body">
                      <p class="text-uppercase">E-mail</p>
                      <p class="text-uppercase">
                        <a class="text-white" href="mailto:Mattjersonn@gmail.com">Mattjersonn@gmail.com</a>
                      </p>
                    </div>
                  </div>
                  <!-- Working Hours -->
                  <div class="contact-item media">
                    <i class="fa fa-clock media-left media-right-margin"></i>
                    <div class="media-body">
                      <p class="text-uppercase">Working Hours</p>
                      <p class="text-uppercase">Mon-Fri 9.00 AM to 5.00PM.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Contact End -->

  <!-- Footer -->
  <footer class="footer-copy">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <p>2023 &copy; TechSnap</p>
        </div>
      </div>
    </div>
  </footer>

  <!-- JavaScript -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
  <script src="/static/js/ScrollIt.Min.js" defer></script>
  <script src="/static/js/Wow.Min.js" defer></script>
  <script>
    // File upload handling functions
    function handleImageUpload(input) {
      var file = input.files[0];
      var nextPageButton = document.getElementById("next-page-btn");
      if (file) {
        var reader = new FileReader();

        reader.onload = function (e) {
          var imageSrc = e.target.result;
          localStorage.setItem("uploadedImage", imageSrc);
          nextPageButton.style.display = "inline-block";
        };

        reader.readAsDataURL(file);
      }
    }

    function saveImageToLocalStorage() {
      var fileInput = document.getElementById("file-upload");
      handleImageUpload(fileInput);
    }

    // Event listeners and initialization
    document.getElementById("file-upload-btn").addEventListener("click", function () {
      saveImageToLocalStorage();
    });

    $(document).ready(function () {
      // Smooth scrolling
      $("a.nav-link").on("click", function (event) {
        if (this.hash !== "") {
          event.preventDefault();
          var hash = this.hash;
          $("html, body").animate({
            scrollTop: $(hash).offset().top
          }, 800, function () {
            window.location.hash = hash;
          });
        }
      });

      // Wow.js initialization
      wow = new WOW();
      wow.init();

      // Navbar color change on scroll
      $(window).on("scroll", function () {
        var bodyScroll = $(window).scrollTop(),
          navbar = $(".navbar");

        if (bodyScroll > 50) {
          $(".navbar-logo img").attr("src", "/static/css/Logo-Black.png");
          navbar.addClass("nav-scroll");
        } else {
          $(".navbar-logo img").attr("src", "/static/css/Logo.png");
          navbar.removeClass("nav-scroll");
        }
      });

      // ScrollIt initialization
      $(window).on("load", function () {
        var bodyScroll = $(window).scrollTop(),
          navbar = $(".navbar");

        if (bodyScroll > 50) {
          $(".navbar-logo img").attr("src", "/static/css/Logo-Black.png");
          navbar.addClass("nav-scroll");
        }
        $.scrollIt({
          easing: "swing",
          scrollTime: 900,
          activeClass: "active",
          onPageChange: null,
          topOffset: -63,
        });
      });
    });
  </script>
</body>
</html>
